.technologies {
    padding: 4rem 0;
    background-color: #fcfcfc;
    margin: 0 100px;
}

.technologiesTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f100ae;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}

.techGrid {
    margin-top: 50px;
    flex-wrap: wrap;
}

.techGrid, .technologiesTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.techItem {
    padding: 36px 46px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,.05);
    margin-left: 12px;
    margin-right: 12px;
    width: calc(25% - 24px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    transition: all .1s ease 0s;
}

.techItem:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.techIcon {
    font-size: 4rem;
    color: #0070f3;
    margin-bottom: 1rem;
    transition: color 0.3s;
}

.techItem:hover .techIcon {
    color: #0059b2;
}

.techName {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    transition: color 0.3s;
}

.techItem:hover .techName {
    color: #0070f3;
}

/* Pour les tablettes et les appareils mobiles */
@media (min-width: 481px) {
    .techItem {
        width: calc(20% - 10px);
        /*margin: 0 100px*/
    }

    .technologies {
        /*padding: 4rem 0;*/
        /*background-color: #fcfcfc;*/
        margin: 0 100px;
    }
}

/* Pour les mobiles */
@media (max-width: 480px) {
    .technologies {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        /*width: 100%;*/
    }

    .techItem {
        width: calc(33.33% - 12px);
        padding: 24px 32px;
    }

    .technologiesTitle {
        font-size: 1.2rem;
    }

    .techIcon {
        font-size: 3rem;
    }
}


@media (max-width: 991px) {
    .techItem {
        padding:20px
    }
}

@media (max-width: 350px) {
    .techItem {
        width:calc(50% - 24px)
    }
}

.techItem:nth-child(4n+0) {
    margin-right: 0
}

@media (max-width: 667px) {
    .techItem:nth-child(2n+0) {
        margin-right:12px
    }
}

@media (max-width: 667px){
    .technologies {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        /*width: 100%;*/
    }

    .tech-item {
        width: calc(50% - 24px);
    }
}