.blogModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    margin-top: 30px;
}

.blogModalBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.blogModalContent {
    position: relative;
    background-color: #fff;
    width: 80%;
    max-width: 800px;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
    height: 80%;
}

.blogModalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.blogModalTitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.blogModalCloseButton {
    font-size: 1.5rem;
    color: #333;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.blogModalCloseButton:hover {
    color: #000;
}

.blogModalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.blogModalImage {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 1rem;
}

.blogModalDescription {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    text-align: start;
}

/*.blogModalDescription:hover {*/
/*    background-color: #f5f5f5;*/
/*}*/

@media only screen and (max-width: 768px) {
    .blogModalContent {
        width: 100%;
        height: 100%;
        /*max-height: unset;*/
        overflow-y: scroll;
    }
    .blogModalHeader {
        flex-direction: column;
        align-items: flex-start;
    }
    .blogModalTitle {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .blogModalCloseButton {
        margin-left: auto;
        margin-right: 0;
    }
    .blogModalBody {
        align-items: flex-start;
        margin-top: 1rem;
    }
    .blogModalImage {
        max-height: unset;
        margin-bottom: 1rem;
    }
    .blogModalDescription {
        width: 100%;
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 1rem;
    }
    .blogModalDescription:last-of-type {
        margin-bottom: 0;
    }
}

